@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    html.dark,
    html.dark body,
    html.dark #root {
        @apply bg-zinc-950 text-zinc-100;
    }
}

@font-face {
    font-family: "MyFont";
    src: url("/compliance-sans.ttf");
}

body {
    font-family: "MyFont", sans-serif;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.animate-fade-in {
    animation: fadeIn 0.2s ease-in-out;
}

[data-sonner-toaster] {
    display: flex !important;
    justify-content: center !important;
}